body{
    background-color: #D1D9AA;
    font-family: Arial, Helvetica, sans-serif;
    text-align: justify;
    margin-left: 25%;
    margin-right: 25%;
}

div{
    padding: 20px;
    box-shadow: 10px 10px 10px grey;
    border-radius: 20px;
}

header div{
    background-color: #5C4631;
    border: 3px solid #362f28;
    border-width: 8px;
    text-align: center;
    font-size: 1.5em;
}

main div{
    background-color: #8D6E4D;
    border: 10px solid #5C4631;
    align-items: center;
    overflow: auto;
}

form div{
    display: flex;
    justify-content: center;
    flex-direction: column;
}

footer div{
    background-color: #362f28;
    color: antiquewhite;
    text-align: center;
}

div:nth-of-type(even) a img{
    float: left;
    margin-right: 30px;
}

div:nth-of-type(odd) a img{
    float: right;
    margin-left: 30px;
}

h1{
    text-align: center;
    text-transform: uppercase;
    font-weight: bold;
    color: #5A7360;
    font-size: 5em;
    font-style: italic;
    text-shadow: 7px 4px 4px #5C4631;
}

h2, legend{
    float: initial;
    font-size: 3em;
    text-align: center;
    text-shadow: 3px 3px 3px #5C4631;
}

h1, h2, legend{
    font-style: italic;
}

legend{
    font-weight: bold;
    color: antiquewhite;
    text-shadow: 3px 3px 3px #362f28;
}

header p{
    box-shadow: 10px 10px 10px grey;
    border-radius: 10px;
    background-color: #BABF95;
    padding: 20px;
}

p{
    font-size: 1.5em;
}

input{
    border-radius: 10px;
    border: 3px solid #362f28;
    border-width: 4px;
}

input[type=date], input[type=text], input[type=password]{
    width: 250px;
}

label, input{
    font-size: 1.5em;
}

input[type=text], input[type=password]{
    font-size: 1.25em;
}

label{
    color: antiquewhite;
}

.error{
    color: #FF6961;
    font-size: medium;
    font-weight: bold;
}

a{
    color: antiquewhite;
    padding-right: 50px;
}

img{
    width: 350px;
    height: 350px;
    border: 10px solid #362f28;
    border-radius: 10px;
}

fieldset{
    background-color: #5C4631;
    border: 5px solid #362f28;
    border-radius: 10px;
}

