body{
    background-color: #D1D9AA;
    font-family: Arial, Helvetica, sans-serif;
    text-align: justify;
    margin-left: 15%;
    margin-right: 15%;
}

div{
    padding: 20px;
    box-shadow: 10px 10px 10px grey;
    border-radius: 20px;
}

header div{
    background-color: #5C4631;
    border: 3px solid #362f28;
    border-width: 8px;
    text-align: center;
    font-size: 1.5em;
}

input{
    font-family: Arial, Helvetica, sans-serif;
    background-color: antiquewhite;
    font-size: 1.25em;
    border-radius: 20px;
    border: 3px solid #362f28;
    border-width: 4px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.2);
}

a{
    color: antiquewhite;
    padding-right: 50px;
}

main div{
    background-color: #8D6E4D;
    border: 10px solid #5C4631;
    align-items: center;
    overflow: auto;
}

h1{
    text-align: center;
    text-transform: uppercase;
    font-weight: bold;
    color: #5A7360;
    font-size: 5em;
    font-style: italic;
    text-shadow: 7px 4px 4px #5C4631;
}

h1, h2{
    font-style: italic;
}

img{
    width: 350px;
    height: 350px;
    border: 10px solid #362f28;
    border-radius: 10px;
}

div:nth-of-type(even) a img{
    float: left;
    margin-right: 30px;
}

div:nth-of-type(odd) a img{
    float: right;
    margin-left: 30px;
}

h2{
    float: initial;
    font-size: 3em;
    text-align: center;
    text-shadow: 3px 3px 3px #5C4631;
}

header p{
    box-shadow: 10px 10px 10px grey;
    border-radius: 10px;
    background-color: #BABF95;
    padding: 20px;
}

p{
    font-size: 1.5em;
}

footer div{
    background-color: #362f28;
    color: antiquewhite;
    text-align: center;
}

